<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="AppPrincipal">
		<title>Banco P&amp;P</title>
		<centered>1</centered>
		<size>1053,289</size>
		<hidden>1</hidden>
		<fg>#008080</fg>
		<bg>#202020</bg>
		<id_arg>0</id_arg>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>Clientes</label>
			<pos>32,48</pos>
			<size>456,208</size>
			<fg>#FFFFFF</fg>
			<bg>#606060</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>Cuentas</label>
			<pos>584,48</pos>
			<size>432,88</size>
			<fg>#FFFFFF</fg>
			<bg>#606060</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX3" variable="StaticBox3" member="yes">
			<label>Movimientos</label>
			<pos>584,168</pos>
			<size>432,88</size>
			<fg>#FFFFFF</fg>
			<bg>#606060</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxButton" name="ID_BUTTONAGREGARCLIENTE" variable="ButtonAgregarCliente" member="yes">
			<label>Agregar</label>
			<pos>88,88</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonAgregarClienteClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONMODIFICARCLIENTE" variable="ButtonModificarCliente" member="yes">
			<label>Modificar</label>
			<pos>304,88</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonModificarClienteClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONBAJACLIENTE" variable="ButtonBajaCliente" member="yes">
			<label>Baja</label>
			<pos>192,200</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonBajaClienteClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONAGREGARCUENTA" variable="ButtonAgregarCuenta" member="yes">
			<label>Agregar</label>
			<pos>664,80</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonAgregarCuentaClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONBAJACUENTA" variable="ButtonBajaCuenta" member="yes">
			<label>Baja</label>
			<pos>840,80</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonBajaCuentaClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONEXTRACCION" variable="ButtonExtraccion" member="yes">
			<label>Extracción</label>
			<pos>848,200</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonExtraccionClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONDEPOSITO" variable="ButtonDeposito" member="yes">
			<label>Depósito</label>
			<pos>664,200</pos>
			<size>128,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonDepositoClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Sistema de administración de clientes, cuentas y moviemientos - Banco P and P</label>
			<pos>304,8</pos>
			<font>
				<size>16</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
	</object>
</wxsmith>
