<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BajaCliente">
		<title>Baja de Cliente</title>
		<size>400,256</size>
		<fg>#008080</fg>
		<bg>#303030</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Desea eliminar al cliente, con todas sus cuentas?</label>
			<pos>56,40</pos>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>CONFIRMAR</label>
			<pos>56,184</pos>
			<size>136,32</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxListView" name="ID_LISTVIEW1" variable="ListView1" member="yes">
			<pos>56,88</pos>
			<size>288,56</size>
		</object>
		<object class="wxButton" name="ID_BUTTONSALIR" variable="ButtonSalir" member="yes">
			<label>SALIR</label>
			<pos>208,184</pos>
			<size>136,31</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
	</object>
</wxsmith>
