<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BajaCuenta">
		<title>Baja de cuenta</title>
		<size>404,288</size>
		<fg>#008080</fg>
		<bg>#303030</bg>
		<object class="wxButton" name="ID_BUTTONCONFIRMAR" variable="ButtonConfirmar" member="yes">
			<label>Confirmar</label>
			<pos>48,208</pos>
			<size>128,40</size>
			<hidden>1</hidden>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonConfirmarClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONSALIR" variable="ButtonSalir" member="yes">
			<label>Salir</label>
			<pos>216,208</pos>
			<size>120,40</size>
			<fg>#000000</fg>
			<bg>#008080</bg>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonSalirClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticTextT2" member="yes">
			<label>Desea dar de baja la siguiente cuenta?</label>
			<pos>80,32</pos>
			<size>248,40</size>
			<hidden>1</hidden>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticTextD" member="yes">
			<label>DNI titular: </label>
			<pos>40,88</pos>
			<size>72,16</size>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticTextNC" member="yes">
			<label>Nro cuenta: </label>
			<pos>40,128</pos>
			<size>40,16</size>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticTextDNI" member="yes">
			<label>xxxxxxxx</label>
			<pos>128,88</pos>
			<size>120,21</size>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticTextNroCuenta" member="yes">
			<label>xxxxxxxx</label>
			<pos>128,128</pos>
			<size>120,21</size>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticTextTC" member="yes">
			<label>Tipo de cuenta:</label>
			<pos>40,168</pos>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticTextTipoCuenta" member="yes">
			<label>xxxxxxxx</label>
			<pos>128,168</pos>
			<size>120,16</size>
			<hidden>1</hidden>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticTextT1" member="yes">
			<label>Ingrese el numero de cuenta a dar de baja:</label>
			<pos>80,24</pos>
			<size>248,21</size>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>80,64</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="ButtonBuscar" member="yes">
			<label>Buscar</label>
			<pos>208,64</pos>
			<size>112,23</size>
			<bg>#008080</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Agency FB</face>
			</font>
			<handler function="OnButtonBuscarClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
